h2 {
  text-align: center;
}

.header-pic {
  background-image: url("https://toptravel.vn/uploads/slide%20top-travel-h%C3%A8-2021.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
