.detail-decr {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.view-map {
  margin-left: 20px;
  cursor: pointer;
  color: dodgerblue;
}
.ant-collapse {
  background-color: #fff !important;
  border: none !important;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: none !important;
}
.ant-collapse-content {
  border-top: none;
}
.show-collapse {
  cursor: pointer;
  color: #096dd9;
  font-weight: 700;
}
h4.ant-typography, .ant-typography h4 {
  text-align: center;
}

.booking-info-pad {
  padding: 10px;
}
.booking-info-pad-5 {
  padding: 5px 10px 5px 10px;
}
.booking-info-pad-5-right {
  /* padding: 10px 10px 10px 20px; */
  float: right;
}
.btn-booking {
  padding: 15px;
  background: #57ca8b;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.booking-border-left {
  border-left: 1px solid;
  padding: 5px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.booking-border-right {
  border: 1px solid;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ant-select-item-option-content {
  text-align: center;
}
.btn-clear-booking {
  cursor: pointer;
  float: right;
}