.carousel-blog {
  height: 280px;
  padding-left: 40px;
  overflow: hidden;
  .blog-img {
    .main-img {
      width: 320px;
      height: 400px;
      position: relative;
      cursor: pointer;
      display: block;
      word-wrap: break-word; /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;
      border-radius: 5px;
      opacity: 0.7;
      transition: all 0.4s; /* Animation */
      background-position: 50% 50%;
    }

    .main-img:hover {
      opacity: 1;
      -ms-transform: scale(1.125); /* IE 9 */
      -webkit-transform: scale(1.125); /* Safari 3-8 */
      transform: scale(1.125);
    }

    .blog-title {
      position: absolute;
      bottom: 20px;
      color: #ffffff;
      left: 10px;
      font-size: 20px;
      font-weight: 700;
      word-wrap: break-word; /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;
      width: 362px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    .blog-content {
      position: absolute;
      bottom: 0;
      width: 270;
      color: #ffffff;
      font-size: 14px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      left: 10px;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
}
