.form-search {
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.outdoors {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

.br-homepage > .content {
  position: absolute;
  top: 18%;
}

.content > p {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

.on-form {
  position: absolute;
  top: 70%;
}
.img-br {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.br-homepage {
  display: flex;
  background: url(https://res.cloudinary.com/fpt-telecom/image/upload/v1621928973/esd3wohrnzolihpovzuz.jpg);
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.view-more-blog {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  color: #081d8d !important;
}
.btn-explore {
  color: #fff;
  font-size: x-large;
  cursor: pointer;
  padding: 20px 27px 20px;
  border-radius: 10px;
  background: #57ca8b;
}
