.blog-detail {
  .img-post {
    margin-bottom: 30px;
    width: 100%;
  }
  .content-blog {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
    text-align: justify;
  }
}
